h1{
    color:rgb(87, 8, 8);
    border: 3px solid  hsl(262, 100%, 56%);
    border-radius: 20px ;
    text-align:center;
    text-shadow: 3px 3px 5px hsl(271, 61%, 63%) ;
    
}
#topic{
    color:rgb(87, 8, 8)
}
i{
    font-weight:bold;
}
div{
    color:rgb(95, 82, 65);
    font-size:1.2em;
    width:800px;
    height:100px;
    background-color:rgb(242, 252, 252); 
    text-align:center;
    box-shadow: 3px 3px 5px;
    border-radius:20px;
    margin: 20px auto;
}
input{
        width: 60%; 
        height: 5px; 
        padding: 15px;
        font-size: 15px; 
}