h1{
    color:rgb(87, 8, 8);
    border: 3px solid  hsl(262, 100%, 56%);
    border-radius: 20px ;
    text-align:center;
    text-shadow: 3px 3px 5px hsl(271, 61%, 63%) ;
    
}
h3{
     color:darkviolet;
}

#topic{
    color:rgb(87, 8, 8);
}

div{
    color:rgb(95, 82, 65);
    font-size:1.2em;
    width:70%;
    height: auto;
    padding:15px;
    background-color:rgb(242, 252, 252); 
    text-align:center;
    box-shadow: 3px 3px 5px;
    border-radius:20px;
    margin: 20px auto;
}
input{
        width: 60%; 
        height: 5px; 
        padding: 15px;
        font-size: 15px; 
}
button{
    float: end;
    color:rgb(235, 241, 239);
    font-size:17px;
    background-color:rgb(88, 88, 183);
    border-radius:20px; 
    margin-left: 100% ;  
}

.Reset{
    width: 65px; 
    height: 20px;
    padding: 2px;
    border-color: azure;
    border-radius:10px; 
    margin-left:75%;
}
footer{
    color:azure;
    background-color:hsl(300, 1%, 34%);
    margin : 0;
    text-align:center;
}
input[type="radio"] {
    transform: scale(2.5);
}
input[type="checkbox"] {
    transform: scale(2.5);
}
