body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
}
header{
   background-color:rgb(1, 79, 15); 
   
}
#head{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between; 
}

.navbar a{
    color:white;
    display:block;
    text-decoration: none;
    padding:8px;
    
}
.navbar ul{
    list-style-type: none;
}
.navlist div{
    display:inline-block;
    margin-left: 30px;

}
div h3{
    color:white;
    position: relative;
}
.txt{
    padding: 20px;
    text-align: right;
    background:
    linear-gradient(
        rgba(0,0,0,0.23),
        rgba(0,0,0,0.23)
    ),
    url("./assets/Hero-section.jpg");
    background-position: center;
    background-size:100%;
    background-repeat:no-repeat;
    height:400px;
    filter:brightness(85%);
    position:relative;
    
}
.txt h3{
    font-size: 30px;
    color: white;
    margin: 12px;
}
button{
    border:none;
    border-radius: 20px;
    background-color:rgb(1, 79, 15);
    font-size: 20px;
    color:white;
    padding: 8px;
}
.title{
    text-align: center;
    color: rgb(1, 79, 15);
}
h1{
    font-size: 35px;
    margin:50px;
}

p::first-letter{
    color:rgb(1, 79, 15);
}
section p{
    font-size:20px;
    margin:18px;
    font-weight: bold;
}

.main{
    background-color: aliceblue;
    height:520px;
    margin:15px;
    text-align: center;
    display: flex;
    
}
#box{
    margin:20px;
    border: none;
    border-radius: 20px;
    background-color:rgb(1, 79, 15) ;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 20px;
    width:75%;
    height:150px;
    font-size: 20px;
}
.button2{
    border:none ;
    border-radius: 10px;
    background-color:white;
    font-size: 20px;
    color:rgb(1, 79, 15);
    padding: 8px; 
    margin:10px;
}
.img2{
   display: block;
   margin:auto;
}
.button1{
    border:none ;
    border-radius: 10px;
    background-color:rgb(1, 79, 15);
    font-size: 20px;
    color:white;
    padding: 8px;
}
input {
    border: 2px solid rgb(216, 215, 215);
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
    width:70%;
}
.form{
  text-align:center;
}
.button3{
    border:3px solid rgb(1, 79, 15);
    border-radius: 10px;
    background-color:rgb(216, 215, 215);
    font-size: 20px;
    color:rgb(1, 79, 15);
    padding:6px; 
    margin:8px;
    font-weight: bold;   
}
.butt{
    text-align:center;
}
footer{
    background-color: rgb(1, 79, 15);
 
}

#icon{
   margin:10px;
   color:white;
   float:left;
   font-size: large;
 
}
.list a{
    color:white;
    display: bolck;
    text-decoration: none;
    margin:10px;
    text-align: right;
   
}
.list ul{
    list-style-type: none;
}
.text{
    color:white;
    margin-bottom: 0px;
}
.container{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    font-size:1.2em;

    
}
@media screen and (max-width:768px){
  .container{
    flex-direction: column;
    margin-left: 20px;
  }  
  .txt{
    height:250px;
    background-size:;
    text-align: center;
  }
  .txt h3{
    font-size: 18px;
  }
  .img2{
     width:30em;
  }
  .main{
    flex-direction: column;
    height: 38em;
  }
  .img1{
    width: 80%; 
    margin-top: 12px;
  }
  #box{
    width:90%;

  }


